h3 Testaufgaben, Durchgang {{test.run}}
uib-progressbar(
  type="info"
  value="test.count"
  max="test.tests.length"
  title="Fortschritt"
) {{test.count}}/{{test.tests.length}}
uib-progressbar(
  type="success"
  value="test.score.current"
  max="test.score.max"
  title="Punkte"
) {{test.score.current}}/{{test.score.max}}
uib-tabset(justified="true")
  uib-tab(heading="Aufgaben"  active="true")
    h4 Aufgabe {{test.form.$submitted ? test.count : test.count+1}}
    div(markdown="test.tests[test.item].text")
    form(novalidate name="test.form" ng-switch="test.tests[test.item].type" ng-submit="test.submit()")
      .form-group(ng-switch-when="input" ng-class="{'has-success': test.form.$submitted&&test.output.correct, 'has-error': test.form.$submitted&&!test.output.correct}")
        label(for="item") Antwort
        input#item.form-control(type="text" name="item" ng-model="test.response")
        p.help-block(ng-bind="test.output.feedback")
      .form-group(ng-switch-when="single" ng-class="{'has-success': test.form.$submitted&&test.response.correct, 'has-error': test.form.$submitted&&!test.response.correct}")
        .radio(ng-repeat="c in test.tests[test.item].choices track by c._id")
          label
            input(type="radio" name="item" ng-value="c" ng-model="test.response")
            |  {{c.text}}
        p.help-block(ng-bind="test.response.feedback" ng-show="test.form.$submitted")
      .form-group(ng-switch-when="multiple")
        div(ng-repeat="c in test.tests[test.item].choices track by c._id" ng-class="{'has-success': test.form.$submitted&&!!test.response[c._id]===c.correct, 'has-error': test.form.$submitted&&!!test.response[c._id]!==c.correct}")
          .checkbox
            label
              input(type="checkbox" name="{{'item'+$index}}" ng-model="test.response[c._id]")
              |  {{c.text}}
          p.help-block(ng-bind="c.feedback" ng-show="test.form.$submitted")
      .form-group
        button.btn(
          type="submit"
          ng-if="!test.form.$submitted"
          ng-class="{'btn-primary': test.form.$valid, 'btn-disabled': test.form.$invalid}"
          ng-disabled="test.form.$invalid"
        ) Antwort abschicken
        button.btn.btn-default(
          type="button"
          ng-if="test.form.$submitted"
          ng-click="test.next()"
          ng-bind="test.count === test.tests.length ? 'Test wiederholen' : 'Nächste Aufgabe'"
        )
  uib-tab(heading="Verlauf" onselect="test.guesses()")
    table.table
      thead
        tr
          th Durchgang
          th Punkte
      tbody
        tr
          th(colspan="2") Abgeschlossen
        tr(ng-if="test.run > 1" ng-repeat="i in test.score.runs | limitTo : test.run-1 track by $index")
          th(ng-bind="$index+1")
          td(ng-bind="i")
        tr(ng-if="test.count > 0")
          th(colspan="2") Aktuell ({{test.count}} Aufgaben abgeschlossen)
        tr(ng-if="test.count > 0")
          th(ng-bind="test.run")
          td(ng-bind="test.score.runs[test.run-1]")
        tr(ng-if="test.count + test.run === 1")
          td(colspan="2") Du hast diesen Test noch nie gestartet.
  uib-tab(heading="Infos")
    h4 Aufgabentypen
    dl.dl-horizontal
      dt Einfachauswahl
      dd Eine der angebotenen Antwortmöglichkeiten ist korrekt. Für die korrekte Beantwortung bekommst du einen Punkt.
      dt Mehrfachauswahl
      dd Jede der angebotenen Aussagen ist entweder korrekt oder falsch und muss explizit mittels Kontrollkästchen beantwortet werden. Jede korrekt ab- bzw. angewählte Aussage bringt dir einen Punkt, man kann also maximal so viele Punkte bekommen wie es Aussagen in einer Aufgabe gibt. Punktabzug bei Fehlern gibt es nicht.
      dt Ausfüllen
      dd Es gibt keine Antwortoptionen, sondern du musst eine kurze Lösung selbst generieren, z.B. eine Rechenaufgabe usw.
    h4 Feedback
    p Auf deine Antwort bekommst du ein Feedback. Bei Auswahl-Aufgaben kannst du auch dann noch die anderen Antworten anwählen um deren Feedback zu sehen, dies wird dann aber nicht mehr als deine Antwort gewertet.
