include /mixins/menu-item
nav.navbar.navbar-inverse.navbar-static-top(role="navigation"): .container-fluid
  .navbar-header
    button.navbar-toggle.collapsed(
      type="button"
      ng-click="main.menuCollapse=!main.menuCollapse"
      aria-controls="mainnav"
      aria-expanded="{{!main.menuCollapse}}"
      aria-label="{{main.menuCollapse ? 'Menü ausklappen' : 'Menü einklappen'}}"
    )
      span.fa.fa-bars
    a.navbar-brand(data-ui-sref=".home")
      span.fa(ng-class="main.items.home.icon || 'fa-home'")
      |  {{main.items.home.menu || 'Statistik für Jedermann'}}
  #mainnav.collapse.navbar-collapse(uib-collapse="main.menuCollapse")
    ul.nav.navbar-nav.navbar-left
      li(ui-sref-active="active" ng-repeat="i in main.meta | filter : {_id: '!home', active: true}")
        a(ui-sref=".{{i._id}}")
          span.fa(ng-if="i.icon" ng-class="'fa'+i.icon")
          span( ng-bind="i.menu")
    ul.nav.navbar-nav.navbar-right(ng-if="!main.user.authenticated")
      li: button(type="button" ng-click="main.user.login()")
        span.fa.fa-sign-in
        |  Anmelden
      +menu-item(".register","registrieren","user-plus")
    ul.nav.navbar-nav.navbar-right(data-ng-if="main.user.authenticated")
      li: a(ui-sref="main.user")
        span.fa.fa-user
        |  {{main.user.data.profile.nickname||main.user.data.email}}
      li: button(type="button" data-ng-click="::main.user.inauthenticate()")
        span.fa.fa-sign-out(aria-hidden="true")
        |  Abmelden
.container(ui-view)
