mixin radio-inline(name,label,options)
	.form-group
		.col-xs-2=label
		.col-xs-10: each option, key in options
			.radio-inline
				input(type="radio" name=name value=key id="#{name}-#{key}")&attributes(attributes)
				label(for="#{name}-#{key}")=option