mixin radio-inline(name,label,options)
	.form-group
		.col-xs-2.control-label=label
		.col-xs-10: each option, ext in options
			input(type="radio" id="#{name}-#{ext}" value=ext name=name)&attributes(attributes)
			label(for="#{name}-#{ext}")=option